.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  // height: 80px;
  background: white;
  border-bottom: 1px solid #f0f0f0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);

  .header-left {
    .header-title {
      font-size: 24px;
      font-weight: 600;
      margin: 0;
      color: #333;
    }
  }

  .header-right {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
  }
}
