.timesheet-container {
  width: 100%;
  background: #fff;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
}

.timesheet-title {
  font-size: 28px;
  font-weight: 700;
  // margin-bottom: 30px;/
  color: #000;
}

.timesheet-wrapper {
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.timesheet-sidebar {
    width: 130px;
    background: #fff;
    padding: 2px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    height: max-content;
    display: flex;
    flex-direction: column;
}

.timesheet-sidebar-item {
  font-size: 12px;
  font-weight: 600;
  color: #222;
  display: flex;
  align-items: center;
  padding: 10px;
  // gap: 1rem;
}
 
.timesheet-chart {
  flex: 1;
  height: 290px;
  overflow: hidden;
}

.month-header-bar {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 14px 25px;
  border-radius: 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.month-header {
  font-size: 14px;
  font-weight: 600;
  color: #222;
}
 
.chart-row {
  position: relative;
  height: 60px;
  margin-bottom: 15px;
}
 
.chart-grid {
  display: flex;
  height: 100%;
}

.chart-grid-cell {
  flex: 1;
  border-right: 1px solid #f0f0f0;
}
 
.chart-bars {
  position: absolute;
  inset: 0;
  transform: translateY(-10px);  
}

.chart-bar {
  position: absolute;
  height: 14px;
  top: -66%;
  transform: translateY(-50%);
  border-radius: 50px;
  opacity: 0.9;
}